$Maincolor:rgb(233, 71, 71);
body{
    height: 100%;
    background: #fff;
    .reg_content{
        .Maincolor{
            color:$Maincolor
        }
        .myagree{
            color: rgb(187, 183, 183);
        }  
    }
} 